# Configuration PostgreSQL Slave (Hot Standby) pour Alpine Linux
# Optimisé pour 1GB RAM

# Connexions
listen_addresses = '*'
port = {{ db_port }}
max_connections = 50

# Mémoire (optimisé pour 1GB RAM)
shared_buffers = 256MB
effective_cache_size = 512MB
maintenance_work_mem = 64MB
work_mem = 16MB

# Hot Standby
hot_standby = on
hot_standby_feedback = on

# Réplication
primary_conninfo = 'host={{ db_master_ip }} port={{ db_port }} user={{ replication_user }} password={{ replication_password }}'
primary_slot_name = 'slave_slot'

# Recovery
recovery_target_timeline = 'latest'

# Logging
logging_collector = on
log_directory = '/var/log/postgresql'
log_filename = 'postgresql-%Y-%m-%d.log'
log_rotation_age = 1d
log_rotation_size = 50MB
log_min_duration_statement = 1000

# Data directory
data_directory = '/var/lib/postgresql/data'
