#!/sbin/openrc-run

name="Flask Application"
description="Python Flask API Server - {{ app_name }}"

command="/usr/bin/gunicorn"
command_args="--workers 2 --bind 0.0.0.0:{{ app_port }} --chdir /opt/app --access-logfile /var/log/app/access.log --error-logfile /var/log/app/error.log app:app"
command_user="appuser"
command_background="yes"
pidfile="/run/${RC_SVCNAME}.pid"
start_stop_daemon_args="--env-file /opt/app/.env"

depend() {
    need net
    after firewall
}

start_pre() {
    checkpath --directory --owner appuser:appuser --mode 0755 /var/log/app
}
